body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.score {
    margin: 0 auto;
    color: #fff;
    max-width: 671px;
    min-width: 671px;
}

#result {
    color: brown;
}

.grid {
    display: flex;
    box-sizing: content-box;
    flex-wrap: wrap;
    border: solid 1px;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.grid div {
    width: 40px;
    height: 40px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.shooter {
    background-image: url('img/ship.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.invader {
    background-image: url('img/alien.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.boom {
    background-image: url('img/boom.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.laser {
    background-image: url('img/laser.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 671px;
    min-width: 671px;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.main-buttons section {
    width: 100%;
}

.main-buttons section button {
    width: 100%;
}

.dialog-menu {
    padding-left: 0;
}